

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
 }

 .inside-form {
    border: solid;
    border-color: lightgrey;
    border-radius: 10px;
    padding: 2%;
 }

 .inside-form div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 .form-title {
    @include sub-title();
     padding-bottom: 7%;
 }
 
 .form-entity {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
 }

 .form-entity-label, .form-entity-error, .form-entity-input {
    width: 100%;
    display: flex;
    justify-content: flex-start;
 }
 
 .form-entity-error {
   white-space: normal;
   padding-bottom: 1%;
   padding-top: 1%;
   @include passive-text();
 }

